<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.feedback_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/feedback_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/feedback_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".aktiviteter.StartSkaerm_akt"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".aktiviteter.Login_akt"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".aktiviteter.OpretBruger_akt"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".aktiviteter.GivFeedback_akt"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".aktiviteter.Navigation_akt"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name=".aktiviteter.OpretMoede_akt"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".aktiviteter.GiveFeedback2_akt"></activity>
    </application>

</manifest>